/*
 Theme Name:   LifeCycle
 Description:  Custom CSS
 Author:       Yazamo
 Author URI:   http://yazamo.com
 Template:     Better Capture
 Version:      1.0.0
 Tags:         Custom Responsive Theme based on Foundation 5
*/

@charset "utf-8";
/* CSS Document */

body { }

p { font-size .9rem; }

/*** Global Styles **/

.row.cushion { padding-top: 2em; padding-bottom: 2em;}

.avenirbold { font-family: 'AvenirNextLTPro-Bold', sans-serif; }
.avenirreg { font-family: 'AvenirNextLTPro-Regular', sans-serif;}
.avenirdemi { font-family: 'AvenirNextLTPro-Demi', sans-serif;}
.sitecolor { color: #06596b; }

.largefont { font-size: 2em; }
.regularfont { font-size: 0.9em; }
.smallfont { font-size: 0.7em; }

.sectiontitle { margin-bottom: 2em; }
span.title { font-family: 'AvenirNextLTPro-Demi', sans-serif; font-size: 2em; color: #076d83; border: 1px solid #076d83; text-transform: uppercase; padding: .2em .4em; }
p.introtext { font-family: 'AvenirNextLTPro-Demi', sans-serif; font-size: 0.9em; color: #444444; }



/************************************************************************************** Header */

.top-bar { box-shadow: 0 4px 2px -2px #f1f1f1 
} 

.top-bar-section ul li.active>a { background: #4cc8af;}
.top-bar-section ul li a:hover { background: #4cc8af; }
.top-bar-section ul li>a { font-family: 'AvenirNextLTPro-Regular'; text-transform: none; } 

ul.topLinks li {
	list-style:none;
	display:inline-block;
	padding-right:1em;
}

ul.topLinks { margin-bottom: 0; height: 56px;}

ul.topLinks ul li .current-menu-item a  { font-weight: bold;}

ul.topLinks li {
	list-style:none;
	display:inline-block;
	padding-right:0em;
    font-size: 0.9em; line-height: 56px;
}
ul.topLinks li a {
    font-family: 'AvenirNextLTPro-Regular';
    color:#ffffff;
	font-size:1em;
	padding:.5em;
	border-radius:4px;
}

ul.topLinks li a:hover { background: none;
	
}
 
ul.topLinks li a.button{
	background: #ffc403;
	font-size:0.9em;
    font-family: 'AvenirNextLTPro-Bold';	text-transform: none;
	border:1px solid #ffc403;
	color: #705304;
	height: 30px;
	padding:.2em .2em .2em .2em;
}

ul.topLinks li a.button:hover {
	background:#e3ae00;
}

ul.topLinks li a.phone { color: #1cb0d0; font-family: 'AvenirNextLTPro-Demi'; }

.menu { display: inline-block; background: #053742;}

/************************************************************************************** Qualify*/

.qualify { background: #075b6d; max-height: 500px;}

input.appsubmitbutton { background: #ffc710; border: 1px solid #a17706; border-radius: 3px; color: #705304; font-family: 'AvenirNextLTPro-Bold', sans-serif; }
input.appsubmitbutton:hover { background: #eab406; color: #705304;}

fieldset.qualifyformbg { background: #f3f3f3; max-height: 415px; max-width: 410px; padding: .5em}
p.qualifyformtitle { margin: 0;
padding: 0;
font-size: 1.3em;
line-height: 1em;}

p.qualifyformtext { margin: 0;
padding: 0; line-height: 1.2em;
font-size: 0.7em;}

/************************************************************************************** Why */

.why { background: #fbfbfb; max-height: 2041px;}









/************************************************************************************** Process */

.process { background: #ffffff; max-height: 1736px;}

/************************************************************************************** What We Do */

.whatwedo { background: #fbfbfb; max-height: 271px;}


/************************************************************************************** Stuff Development */

.stuff { background: url('../img/StuffBG.png') left repeat-x; height: 334px; border-bottom: 2px solid #095a6a; }
.features { background: url('../img/StuffFeaturesBG.png') left repeat-x; height: 703px; }


input.appsubmitbuttonbig { background: #ffc710; border: 1px solid #a17706; border-radius: 3px; color: #705304; font-family: 'AvenirNextLTPro-Bold', sans-serif; }
input.appsubmitbuttonbig:hover { background: #eab406; color: #705304;}
    
/************************************************************************************** Results */

.results { background: #ffffff; max-height: 2156px;}

/************************************************************************************** Pricing */

.pricing { background: #fbfbfb; max-height: 1665px;}
.pricingwrapper { border: 1px solid #095a6a;}
.pricingcolbg1 { background: url('../img/PricingColBG1.png') left repeat-x; min-height: 478px; max-height: 478px;}
.pricingcolbg2 { background: url('../img/PricingColBG2.png') left repeat-x; min-height: 478px; max-height: 478px;}
.row.pricingrow { height: 87px; }
.row.pricingrow p { line-height: 87px; }
.row.pricingheader { height: 129px; }
.row.pricingheader { line-height: 64px; }
/************************************************************************************** Footer */


footer { background: #075b6d; max-height: 62px;}
span.copyright { color: #1cb0d0; line-height: 62px; font-size: 0.9em;}

/************************************************************************************** Media Queries*/

